//colors
$bgdark:#212121;
$bgblue: #27272e;
$light: #D3D3D4;
$gray: #414141;
$yellow: #f0d146;
$darkYlw: #caad28;
$blueDark:#2522BA;
$blueLight: #4755d1;


//media query
$media-md:  991px;
$media-tab: 767px;
$media-mb: 374px;
